<footer>
  <div class="footer">
    <div class="footer-wrapper">
      <ul>
        <li><a href="https://www.soloplan.com/legal-notice/">General Terms and Conditions</a></li>
        <li><a href="https://web.carloexchange.de/#legal-notice">Corporate info</a></li>
        <li><a href="https://www.soloplan.com/">Soloplan GmbH</a></li>
      </ul>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/pbkdf2.js"></script>
  <script src="js/main.js"></script>
</footer>
