<div class="sort-reorder-navigation">
    <button (click)="sortButtonClicked('down', $event)" class="fa icon-button dropdown"></button>
    <button (click)="sortButtonClicked('up', $event)" class="fa icon-button dropup"></button>
    <!--    <button (click)="reorderButtonClicked('left')" class="icon-button left ripple" [disabled]="visibleColumnIndex===0"></button>-->
    <!--    <button (click)="reorderButtonClicked('right')" class="icon-button right ripple" [disabled]="visibleColumnIndex===columnsLength-1"></button>-->
    <!--    <button (click)="hideButtonClicked()" class="icon-button close ripple"></button>-->
</div>

