<div class="spinner-container-wrapper" *ngIf="!hasObjects &&!hasLayoutTree">
    <div class="spinner-container-inner">
        <i class="material-icons rotating">refresh</i>
    </div>
</div>
<!--<div class="main-content-wrapper" [ngClass]="{'main-content-wrapper':true, 'menu-active':menuActive}">-->

    <div class="master-detail-layout-wrapper">
        <solo-business-object-grid
                *ngIf="hasObjects && hasLayoutTree"
                [displayedColumnsMetaData]="displayedColumnsMetaData"
                [businessObjectList]="businessObjectsList"
                [displayedColumns]="displayedColumns"
        ></solo-business-object-grid>

        <solo-business-object-form
                [ngClass]="detailViewVisible ? 'activated' : ''"
                *ngIf="hasObjects && hasLayoutTree"
                [businessObjectFields]="displayedColumnsMetaData"
                [isLoading]="IsLoading"
                [activeBusinessObject]="activeBusinessObject"
                [originalBusinessObjectListChanged]="OriginalBusinessObjectListChanged"
                (detailsViewVisibleChanged)="detailsViewVisibleChangedListener($event)"
                (businessObjectChanged)="detailsViewBusinessObjectChangedListener($event)"
                (resetDetailViewRequest)="resetDetailViewRequestListener()"
                (createNewBusinessObjectRequest)="createNewBusinessObjectRequestListener()"
                (saveBusinessObjectRequest)="saveBusinesObjectRequestListener()"
                (deleteBusinessObjectRequest)="deleteBusinessOBjectRequestListener()"
        >
        </solo-business-object-form>
    </div>
<!--</div>-->
